body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.circle-container {
    position: relative;
    width: 200px;  /* Size of the circle */
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle-image {
    position: absolute;
    width: 50px;   /* Size of each image */
    height: 50px;
    border-radius: 50%;
    transition: transform 1s ease;
}

#image1 {
    transform: translate(-50%, -100%) rotate(0deg);
}

#image2 {
    transform: translate(50%, -100%) rotate(90deg);
}

#image3 {
    transform: translate(100%, 0) rotate(180deg);
}

#image4 {
    transform: translate(50%, 100%) rotate(270deg);
}

.navbar {
    background-color: #333;
    position: relative;
    z-index: 999;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: black;
}

.navbar li {
    display: inline-block;
    position: relative;
}

.navbar li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}


.navbar ul ul {
    position: absolute;
    top: 100%;
    display: none;
    background: black; 
}

.navbar ul ul li {
    display: block;
}

.navbar li:hover ul {
    display: block;
}
